html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
}
#root{
  width: 100%;
  height: 100%;
}
#root > div{
  width: inherit;
  height: inherit;
}
#search-bar{
  border-radius: 30px;
}
.cart-img{
  width: 80%;
}
#sidebar-header{
  height: 80px;
}
.sidebar-link{
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
}
.product-detail-img{
  width: 70%;
  margin-bottom: 10px;
}
.price{
  color: #b71d1d;
}
.quantity-input{
  width: 60px;
  display:inline-block;
}
a, a:hover, a:link, a:active, a:visited{
  text-decoration: none;
  color:#000;
}
.dropdown-menu {
  padding: 0 !important;
}
.dropdown-menu li a{
  padding: 8px 0 10px 10px;
}
.sub-nav{
  border: 0;
  background-color:#fff !important;
  font-size: 1.2em;
  padding: 20px 0;
}
/* Title */
.sub-nav .navbar-brand {
  color: #333;
  font-size: 1.5em;
}
.sub-nav .navbar-brand:hover,
.sub-nav .navbar-brand:focus {
  color: #333;
}
/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.headline{
  font-size: 30px;
  font-weight: 200;
  margin-bottom:30px;
}
.panel-body{
  padding: 0;
}
.product-item{
  margin-bottom: 50px;
  background-color: #fff;
}
.product-item-footer{
  padding:20px 10px;
}
.product-cover{
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-white{
  background-color: #fff;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
#footer{
  padding: 20px 0 10px;
}
.footer a, .focus a:hover, .focus a:active, .focus a:link{
  color:#fff;
  text-decoration: none;
}
.content-body{
  padding: 0px 16px 20px;
}
.copyright{
  font-size: 12px;
  color: #999;
}
.sidebar{
  background: #333; 
  margin-top: 56px;
  position: fixed;
  height: 100%;
  padding: 0;
}
.sidebar-link a{
  color: #ddd;
  font-size: 14px;
}
.sidebar-link a:hover{
  color: #ccc;
}
.sidebar-link:hover{
  color: #fafafa;
  background-color: #666;
}
.sidebar-icon{
  margin-top: -3px;
  margin-right: 12px;
  color: #aaa;
}

/* Navbar style */
.admin-navbar .dropdown-item{
  padding: 0;
}
#nav-avatar .btn{
  background-color: #fff;
  color: #000;
  border: 0;
}
#nav-avatar .btn.active.focus,
#nav-avatar .btn.active:focus,
#nav-avatar .btn.focus,
#nav-avatar .btn.focus:active,
#nav-avatar .btn:active:focus,
#nav-avatar .btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
.site-navbar, .admin-navbar{
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-shadow: 1px 0 3px 1px #ccc;
  background-color: #fff;
}
.admin-navbar .dropdown-menu{
  left: -30px;
}
.admin-navbar .badge{
  border-radius: 50%;
}

/* general page style */
.pull-right{
  display: block;
  float: right;
}
.no-border{
  border: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-top-80{
  padding-top: 80px;
}
.dropdown-menu .nav-link{
  font-size: 14px;
  font-weight: 300;
}

.dropdown-menu .nav-link:active{
  background-color: #eee;
}

.dropdown-menu .nav-link-icon{
  font-size: 16px;
  font-weight: 300;
  color: #aaa;
}
.nav-link{
  cursor: pointer;
}
.chart-container{
  background: #fff;
  padding: 20px
}
.login-page{
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.login-box{
  display: flex;
  flex: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form .form-control, #login-form .btn, #reset-pwd-form .form-control, #reset-pwd-form .btn{
  border-radius: 0;
}
#login-form, #reset-pwd-form{
  text-align: center;
}
#reset-pwd-form{
  width: 100%;
}
#login-site-name{
  text-align: center;
  font-weight: bold;
}
.padding-v20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-h20{
  padding-left: 20px;
  padding-right: 20px;
}
.breadcrumb{
  margin-top: 56px;
  background: #fff;
}
.breadcrumb-item button{
  padding: 0;
  color: #007bff;
}
.pagination{
  margin: 0;
}
.table-container{
  padding: 0 0 20px;
}
.table-content{
  background: #fff;
  padding: 15px;
}
.table-header{
  background: #eee;
}
.content-body, .form-control{
  font-size: 15px;
}
table .btn-link{
  padding: 0;
}
.sub-menu{
  padding-left: 36px;
}
.form-btn svg{
  margin-top: -2px;
}
.btn-link-active{
  text-decoration: underline;
}
.thumbnail{
  width: 64px;
  height: 64px;
}
.page-item a:not(.page-link){
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}