#search-bar{
  border-radius: 30px;
}
.pull-right{
  display: block;
  float: right;
}
.cart-img{
  width: 80%;
}
#sidebar-header{
  height: 100px;
}
.sidebar-link{
  height: 38px;
  line-height: 38px;
}
.sidebar-link-btn{
  color: '#fff' !important;
}
.product-detail-img{
  width: 70%;
}
.price{
  color: #b71d1d;
}
.badge{
  border-radius: 50%;
}
.quantity-input{
  width: 60px;
  display:inline-block;
}
.dropdown-item{
  padding: 5px 0;
}
a, a:hover, a:link, a:active, a:visited{
  text-decoration: none;
  color:#000;
}

.dropdown-menu {
  padding: 0 !important;
}
.dropdown-menu li a{
  padding: 8px 0 10px 10px;
}
.sub-nav{
  border: 0;
  background-color:#fff !important;
  font-size: 1.2em;
  padding: 20px 0;
}
/* Title */
.sub-nav .navbar-brand {
  color: #333;
  font-size: 1.5em;
}
.sub-nav .navbar-brand:hover,
.sub-nav .navbar-brand:focus {
  color: #333;
}
/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #ccc;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.headline{
  font-size: 30px;
  font-weight: 200;
  margin-bottom:30px;
}

.no-border{
  border: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-body{
  padding: 0;
}
.product-item{
  margin-bottom: 50px;
}
.product-item-footer{
  padding:20px 10px;
}
.product-cover{
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-white{
  background-color: #fff;
}
.padding-bottom-20{
  padding-bottom: 20px;
}

.footer{
  color:#fff;
  padding-top: 100px;
  background-color: #303238;
  height: 260px;
}
.footer a, .focus a:hover, .focus a:active, .focus a:link{
  color:#fff;
  text-decoration: none;
}
.content-body{
  padding: 30px 20px 0 20px;
}